html {
  font-size: min(100vw, $pc-max-width); // rem指定用
  min-height: 0vw; // rem safari対策
  font-family: $font-family;
  font-weight: 400;
  color: #fff;
  word-spacing: 1px;
  // font-feature-settings: 'palt';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // -moz-osx-font-smoothing: grayscale; // webfontで使うとバグる
  // -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

@media screen and (max-width: $breakpoint - 1) {
  html {
    font-size: min(100vw, $sp-max-width); // rem指定用
  }
}

body {
  font-size: $font-size;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --base-width: #{strip-unit($pc-width)};
}
@media screen and (max-width: $breakpoint - 1) {
  :root {
    --base-width: #{strip-unit($sp-width)};
  }
}

.container {
  position: relative;
  width: 1rem;
  margin: auto;
  box-sizing: content-box;
}
